/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #182c3c;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
}

/* Centered Content Styling */
.centered-content {
    text-align: center;
    margin-top: 50px;
}

/* Badge Styling */
.badge {
    width: 150px; /* Adjust size as needed */
    margin-bottom: 20px;
}

/* Links Styling Below Badge */
.links {
    margin-top: 20px;
}

.links a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.links a:hover {
    color: #2677ce; /* for hover effect */
}

/* Footer Styling */
footer {
    background-color: #182c3c;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer .seal {
    width: 80px;
    margin-top: 10px;
}

footer p {
    margin-top: 5px;
    font-size: 0.9em;
}
